html{
  background-color:#242424;
}

body{
  width: 600px;
  margin: 0 auto;
  background-color:#242424;
  border: 3px ;
}

.heading{
  text-align:center;
  color:#d97757;
  font-size: 60px;
  text-decoration: underline;
  font-family:Georgia, 'Times New Roman', Times, serif;
  display: grid;
  justify-content: center;
  height: 100px;
  align-items: center;
}

.link_color {
  color: white;
  text-decoration: underline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 10pc;
  font-size: 40px;
  text-align: center;
}

ol li::marker {
  color:#f2f1ed; /* Change to your desired color */
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
